.scene{
  position: relative;
  display: flex;
  flex-direction: row;
}

.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
  border-radius: 20px;
  background: #222;
  z-index: 200;
}

.draggableVideo {
  position: relative;
  will-change: transform;
  border-radius: 20px;
  touch-action: none;
  cursor: grab;
}

.video {
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
  border-radius: 20px;
}

.guide_canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  transform: scale(-1, 1);
}

@media only screen and (max-width: 600px) {
  .video {
      max-width: 160px;
  }
}

.c_button {
  width: 50px;
  height: 50px;
  background: #bfbfbf;
  background-size: cover;
  border-radius: 50%;
  border: 0;
  border: 3px solid #808080;
  cursor: pointer;
  outline: none;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.c_button::before {
  background: #999999;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #808080, 0 0.6em 0 0 rgba(255, 233, 233, 0);
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.c_button:hover {
  transform: translate(0, 0.25em);
}

.c_button:hover::before {
  box-shadow: 0 0 0 2px #808080, 0 0.45em 0 0 rgba(255, 233, 233, 0);
  transform: translate3d(0, 0.5em, -1em);
}

.c_button:active {
  transform: translate(0, 0.75em);
}

.c_button:active::before {
  box-shadow: 0 0 0 3px #808080, 0 0 #bfbfbf;
  transform: translate3d(0, 0, -1em);
}