.scene{
  position: relative;
  display: flex;
  flex-direction: row;
}
.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}
.video {
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
}

.guide_canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  transform: scale(-1, 1);
}

@media only screen and (max-width: 600px) {
  .video {
      max-width: 160px;
  }
}